.loginbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.logintitlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 170px;
  border-bottom: 1px solid black;
  margin-top: 80px;
}

.logintitle {
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 20px;
  font-size: 700;
}

.loginsubtitle {
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.logininputbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 170px;
  width: 350px;
}

.logininput {
  opacity: 0.5;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.loginbuttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
  width: 350px;
}

.loginbutton {
  width: 100%;
  margin: 5px 0px;
  border: none;
}

.loginbutton:first-child {
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 100;
}

.loginbutton:last-child {
  height: 40px;
  background-color: #d8d8d8;
  color: white;
}

.linkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 350px;
  color: #676767;
}

.snsloginbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 170px;
}

.snsloginlink {
  margin: 30px 0px;
  width: 100%;
}

.snsemoticonbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
