.SmallModal .modalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.modalTop span {
  padding-left: 10px;
  font-size: 23px;
}

.SmallModal .xButton {
  border: none;
  padding: 0;
  width: max-content;
  background-image: none;
  color: rgb(105, 105, 105);
  font-size: 35px;
}

.SmallModal .xButton svg {
  margin-top: 5px;
}
