.nameWrapper {
  margin: 35px 0;
}

.name {
  font-size: 23px;
}

.contentWrapper {
  display: flex;
}

.subHeading {
  margin-right: 50px;
  width: 10%;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 25px;
  color: #cccccc;
}

.contentList {
  list-style-type: disc;
  color: #888888;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}
