.priceBoxWrap {
  display: flex;
  flex-direction: column;
}

.priceBoxWrap .title {
  color: rgb(126, 126, 126);
  font-size: 13px;
}
.priceBoxWrap .numberBoxWrap {
  border: 1px solid silver;
  padding: 8px;
}

.priceBoxWrap .numberBoxWrap input {
  text-align: right;
  border: 0;
  width: 100px;
  font-size: 16px;
}

.priceBoxWrap .numberBoxWrap input:focus {
  outline: none;
}
