.modalWrapper {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.modal {
  padding: 20px;
  background: white;
  width: 1200px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 50%);
  height: 100%;
  overflow: auto;
  margin: auto;
}

/* title section */
.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalTitle {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 90px 0 20px 0;
  border-bottom: 1px solid gray;
}
.whereText {
  font-weight: bold;
  font-size: 35px;
}
.closeModal {
  cursor: pointer;
}
.calendarWrapper {
  display: flex;
  justify-content: center;
  margin: 0 100px;
  position: relative;
}
.prevBtn {
  position: absolute;
  left: 0%;
  cursor: pointer;
}

.nextBtn {
  position: absolute;
  right: 0%;
  cursor: pointer;
}
