* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
  position: relative;
  margin: 100px auto;
  width: 60%;
  text-align: center;
}

.topDescription {
  font-size: 25px;
  font-weight: 400;
}

.dormName {
  margin: 20px 0;
  font-weight: 350;
  font-size: 15px;
}

.middleLine {
  position: absolute;
  border-left: 1.5px solid black;
  left: 50%;
  height: 40px;
}

.mainDescription {
  margin-top: 80px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}

.bottomDescription {
  margin-top: 40px;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
}
