.container {
  width: 100%;
}

.gray_box {
  display: flex;
  align-items: center;
  width: 50%;
  height: 500px;
  background-color: #f5f5f5;
}

.title {
  padding-left: 20px;
  font-size: 40px;
  font-weight: 800;
}

.border_line {
  margin: 20px;
  border-bottom: 5px solid black;
  width: 40%;
}

.description {
  padding: 20px 20px;
}

.white_box {
  width: 50%;
}
