.footer {
  background-color: #f5f5f5;
  padding: 175px 30px 70px 30px;
  padding-top: 50px;

  display: flex;
  justify-content: space-between;
}

.logo {
  padding-bottom: 40px;
}

.footerDetail {
  font-size: 13px;
  line-height: 30px;
}

.copyRight {
  margin-top: 40px;
  font-size: 11px;
}

.footerRight {
  padding-left: 30px;
  border-left: 1.5px solid rgba(128, 128, 128, 0.3);
}

p {
  font-weight: bold;
}
.icon {
  letter-spacing: 10px;
  margin-bottom: 45px;
}

.list {
  font-size: 13px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
