.footer {
  // width: 100%;
  // border: 1px solid red;
  background-color: #f5f5f5;
  padding: 175px 50px;

  padding-top: 50px;
  .logo {
    // border: 1px solid red;
    padding-bottom: 40px;
  }
}
