.container {
  padding-bottom: 100px;
  background-color: gray;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80');
  background-size: cover;
}

.special {
  padding: 80px 0;
  text-align: center;
  font-size: 25px;
  letter-spacing: 15px;
}

.cardWrapper {
  margin: 0px auto;
  width: 80%;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card {
  width: 23%;
  padding: 50px 10px;
  background-color: rgba(0, 0, 0, 0.6);
}

.contents {
  padding: 5px;
}

.card .title {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
}

.description {
  margin: 10px auto 0px;
  width: 80%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  line-height: 20px;
  opacity: 80%;
}
