.container {
  background: #f5f5f5;
}
.slideWrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}

.slideActive {
  opacity: 1;
  transition-duration: 2s;
  width: 100%;
}
.slideNonActive {
  opacity: 0;
  transition-duration: 4s;
}
.contentsSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slideImage {
  width: 900px;
  height: 500px;
}

.slideMainDesc {
  margin-top: 100px;
  line-height: 40px;
  font-size: 30px;
}

.slideSubDesc {
  margin-top: 20px;
  font-size: 14px;
}
.infoSection {
  margin-top: 120px;
  font-size: 15px;
}
.slideTitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.btns {
  position: absolute;
  bottom: 60px;
  left: 4%;
  display: flex;
  cursor: pointer;
  font-size: 25px;
}
.slidePlace,
.slidePeople {
  margin-bottom: 10px;
}
.promotion {
  position: absolute;
  top: 60px;
  left: 0%;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 10px;
}
.order {
  position: absolute;
  bottom: 60px;
  left: 0;
  line-height: 22px;
}
.total {
  color: gray;
}
