.sliderArea {
  position: relative;
  overflow: hidden;
  height: auto;
}
.slider {
}

.sliderList {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
}

.sliderTrack {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.bannerSlideSmall {
  cursor: pointer;
  max-width: 390px;
  margin: 0px 50px 0px 0px;
  /* margin-right: 0px; */
}

.sliderList > .wrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* transform: translateX(160px); */
  max-width: 1300px;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  border: 0;
  outline: 0;
  margin-top: 30px;
  margin-bottom: 100px;
}

.prevButton,
.nextButton {
  cursor: pointer;
  font-size: 23px;
  font-weight: 900;
  padding: 0 0.3rem;
  background-color: rgba(255, 255, 255, 1);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.bannerSlideSmallDescription {
  display: flex;
  justify-content: center;
  letter-spacing: 1rem;
  margin: 90px 0 50px 0;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.name {
  font-size: 25px;
}

.location {
  margin: 20px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.readMore {
  font-size: 12px;
  padding-bottom: 10px;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid black;
  /* text-decoration: underline; */
}

.dot {
  font-size: 24px;
  font-weight: bold;
}
