.sliderArea {
  position: relative;
  overflow: hidden;
  height: auto;
}
.slider {
}

.sliderList {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
}

.sliderTrack {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-bottom: 5rem;
}

.bannerSlideSmall {
  cursor: pointer;
  max-width: 390px;
  margin: 0px 50px 0px 0px;
  /* margin-right: 0px; */
}

.sliderList > .wrapper {
  /* display: flex; */
  /* justify-content: center; */
  transform: translateX(160px);
  max-width: 1300px;
  overflow: hidden;
}

.buttons {
  border: 0;
  outline: 0;
}

.prevButton,
.nextButton {
  cursor: pointer;
  font-size: 23px;
  font-weight: 900;
  padding: 0 0rem;
  background-color: rgba(255, 255, 255, 1);
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.eventAndArrows {
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.6rem;
  margin: 5rem 9rem 1rem 10rem;
}

.eventDescription {
  font-size: 14px;
  font-weight: 500;
}
