.card {
  position: relative;
  width: 400px;
}

.card:hover {
  cursor: pointer;
}

.roomImage {
  width: 400px;
  height: 400px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.infoLayer {
  display: flex;
  justify-content: center;
  gap: 140px;
  position: absolute;
  top: 71%;
  width: 100%;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.roomCondition {
  display: flex;
  flex-direction: column;
}

.roomName {
  margin: 20px 0 0 0;
  font-size: 25px;
}

.roomType {
  margin-top: 2px;
  font-size: 13px;
  opacity: 50%;
  letter-spacing: 2px;
}

.capacity {
  margin-top: 20px;
  font-size: 13px;
  opacity: 80%;
}

.priceInfo {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.price {
  font-size: 18px;
}

.button {
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 3px;
  width: 40%;
  font-size: 13px;
  border-bottom: 1px solid white;
}
