.signupbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.signuptitlebox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 170px;
  border-bottom: 1px solid black;
  margin-top: 80px;
}

.signuptitle {
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 20px;
  font-size: 700;
}

.signupsubtitle {
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.signupinputbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 500px;
  width: 350px;
  margin-top: 20px;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  opacity: 0.3;
}

.signupsmallinput {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
}

.signupsmallinput span {
  font-size: 12px;
}

.selectcountry select {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.signupinput {
  opacity: 0.5;
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.signupbuttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
  width: 350px;
}

.signupbutton {
  width: 100%;
  margin: 5px 0px;
  border: none;
  height: 50px;
  background-color: black;
  color: white;
  font-weight: 500;
}

.snssignupbox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 170px;
}
.snssignuplink {
  margin: 30px 0px;
  width: 100%;
}

.snsemoticonbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.emoticonbox {
}

.signupbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60px;
  width: 350px;
}

.signupbtnbox {
  width: 100%;
  margin: 5px 0px;
  border: none;
  height: 60px;
  background-color: black;
  color: white;
  font-weight: 500;
}

.checkbtnbox {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.headcheckbtn {
  margin: 4px 0px;
  padding: 6px 0px;
  font-size: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.arrow {
  display: flex;
  align-items: center;
}

.checkbtn {
  display: flex;
  justify-content: space-between;
  margin: 3px 0px;
  padding-bottom: 6px;
  font-size: 13px;
}

.checkvalid {
  margin-top: 8px;
  font-size: 14px;
  color: red;
}

.bluecheckvalid {
  color: rgb(0, 0, 255);
}

.checkbtn {
  display: flex;
  flex-direction: column;
}

.smallcheckbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.morescript {
  display: none;
  background-color: #fcfcfc;
  line-height: 25px;
  font-size: 12px;
  opacity: 0.6;
}
