.mapWrapper {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.map {
  z-index: 1;
}

.locationCard {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  top: 30px;
  left: 150px;
  width: 18%;
  z-index: 2;
  background-color: white;
}

.largeLetters {
  font-size: 25px;
  line-height: 35px;
}

.dormInfo {
  margin: 20px 0;
  line-height: 25px;
  font-size: 13px;
}

.logos {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}
